<div id='main'>
<% @terms.each do |term| %>
    <div class="term"><b><%= link_to term.term, term %></b></div>
    <div class="def"><%= term.def %></div>
    <br>
<% end %>
<br />
<a href="https://docs.google.com/forms/d/1O05j0CzPTlSD9JMdooDBqeT-pcJAOjpOpR5RXBE2qp8/viewform">Submit a new term!</a>
</div>
