//@import "bootstrap";

/* colors */
$cardinal: #990000;
$darkgrey: #333333;

body{
  font-family: Helvetica;
  margin:0em;
}

footer{
  margin-left: 1em;
}


#back{
  margin:0em;
  background-color: #990000;
  height:100%;
}

#headerbar{
  width: 100%;
  padding:1em;
  margin:0;
  a{
    text-decoration: none;
  }
}

#main{
  font-family: 'Oxygen', sans-serif;
  background-color: #FFFFEE;
  width: 70%;
  padding:1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: auto;
  margin-left: auto;
  
}

#alphaindex{
  font-family: 'Oxygen', sans-serif;
  font-size: 1.2em;
  background-color: #FFFFEE;
  width: 70%;
  padding:1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: auto;
  margin-left: auto;
  
}

#showdef{
  margin:1.5em;
  padding:1.5em;
  font-family: 'Oxygen', sans-serif;
}

#subheader{
  font-family: 'Oxygen', sans-serif;
  //font-family: helvetica;
  color: black;
  margin-left: 1em;
  margin-right: 1.5em;
  padding: 1em;
}

.term{
  font-size: 1.2em;
  color: black;
}

.def{
  
}

.small{
  font-size: 8px;
  color: grey;
}

#bg{
  background-image:url('background.png');
  margin-left:4em;
  margin-right:4em;
}

