<header id="headerbar">
<h1 id='banner'>Stanford Dictionary</h1>
<div class="fb-like" data-href="http://stanforddict.herokuapp.com/" data-width="450" data-show-faces="true" data-send="true"></div>
</header>

