<header id="headerbar">
<%= link_to image_tag("stanfordDictLogo.png", size:"400x150"), root_path %>
<div class="fb-like" data-href="http://stanforddict.herokuapp.com/" data-width="450" data-show-faces="true" data-send="true"></div>
</header>

